# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.pytest_cache/

# Node / React
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# Docker
.docker/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
backend/database.db
postgres_data/
